# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [1]:
#Some of the popular languages that Data Scientists use are:

# Creating an ordered list
languages = ["Python", "R", "SQL"]

# Printing the ordered list
for index, language in enumerate(languages, start=1):
    print(f"{index}. {language}")

1. Python
2. R
3. SQL

In [2]:
#Some of the commonly used libraries used by Data Scientists include:

# Creating an ordered list
libraries = ["NumPy", "Pandas", "Matplotlib"]

# Printing the ordered list
for index, language in enumerate(libraries, start=1):
    print(f"{index}. {language}")

1. NumPy
2. Pandas
3. Matplotlib

In [3]:
pip install PrettyTable

Requirement already satisfied: PrettyTable in /usr/local/lib/python3.10/dist-packages (3.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from PrettyTable) (0.2.10)

In [4]:
from prettytable import PrettyTable

# Create a PrettyTable object
table = PrettyTable()

# Define the table header
table.field_names = ["Data Science Tools"]

# Add data to the table
table.add_row(["Jupyter Notebooks"])
table.add_row(["RStudio"])
table.add_row(["VS Code with Python Plugin"])

# Print the table
print(table)

+----------------------------+
|     Data Science Tools     |
+----------------------------+
|     Jupyter Notebooks      |
|          RStudio           |
| VS Code with Python Plugin |
+----------------------------+

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**



*   List popular languages for Data Science
*   List commonly used libraries used by Data Scientists
*   Create a table

## Author
  Edanur